body{
    background-color: #eafadd;
}
h1{
    color: #0000cc;
    font-family: times new roma;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
p{
    color: #555555;
    font-family: Verdana;
    text-align: justify;
}